@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Poppins, "sans-serif";
}

.cc-feed-height {
  height: calc(100vh - 216px);
}

.cc-index-px {
  padding-left: calc(100vh / 6);
  padding-right: calc(100vh / 6);
}

/* hide scroll-bar of the feed in chrome, safari, opera and edge */
.feed::-webkit-scrollbar {
  display: none;
}

/* hide scroll-bar of the feed in IE and firefox */
.feed {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
